.content {
    margin: 40px 32px;
  }
  
  .row {
    align-items:center;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 8px;
  
    .content-test-form &:last-of-type > .col:last-of-type {
      align-self: flex-start;
      padding-top: 8px;
    }
  }
  
  .col {
    position: relative;
  
    > .mat-input-container {
      display: block;
    }
  }
   
  .mat-raised-button {
    width: 100%;
  
    .mat-select + & {
      margin-top: 24px;
    }
  }
  
  .mat-select {
    display: block;
  }
  
  pre {
    background-color: #e0e0e0;
    border-radius: 3px;
    display: block;
    font: 11px/1.5 Monospaced, monospace;
    margin: 8px 0;
    min-height: 16px;
    padding: 4px 8px;
    white-space: normal;
  }
  
  .card {
    max-width: 180px;
   // height: 150px;
  }
  
  .noresult{
    max-width: 70%;
    display:block;
    margin:auto; 
  }
  
  .masonry-item {
  margin : 0 10px 10px 10px;
  background-color: #f1f1f1;
  background-size: cover;
  width: 180px;
  }
  
  // mat-card{
  //   background-color: #F6EFFF;
  // }
  
  mat-card-content{
  font-size: 12px;
  }

  /* MODAL STYLES
-------------------------------*/
modal {
  /* modals are hidden by default */
  display: none;

  .modal {
      /* modal container fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* z-index must be higher than .modal-background */
      z-index: 1000;
      
      /* enables scrolling for tall modals */
      overflow: auto;

      .modal-body {
          padding: 20px;
          background: #fff;

          /* margin exposes part of the modal background */
          margin: 40px;
          height: 80%;
      }
  }

  .modal-background {
      /* modal background fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* semi-transparent black  */
      background-color: #000;
      opacity: 0.75;
      
      /* z-index must be below .modal and above everything else  */
      z-index: 900;
  }
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

#close{
  color: #777;
  font: 20px/100% arial, sans-serif;
  position: absolute;
  right: 28px;
  border:none;
  text-decoration: none;
  top: 28px;
  background-color: #fff;
  padding: 10px;
  font-weight: bold;
}

.mat-column-check {
  flex:0 040px;
}

.check{
  color: green;
}
.close{
  color:red;
}